@import "tailwindcss";

@theme {
  --color-neon-cyan: #00f3ff;
  --color-neon-pink: #ff00ff;
  --color-glass-surface: rgba(255, 255, 255, 0.07);
  --color-glass-border: rgba(255, 255, 255, 0.12);
}

@layer base {
  body {
    @apply bg-[#050505] text-white antialiased;
    background-image: 
      radial-gradient(circle at 50% -20%, #1a1a2e 0%, #050505 80%), 
      radial-gradient(circle at 10% 90%, #200d2b 0%, transparent 50%);
  }
}
